# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log

# Node.js
node_modules/

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Cron compiled
cron/dist/
